@{
    ViewData["Title"] = "About The Fluffer Life";
}


<link rel="stylesheet" type="text/css" href="~/css/contact.css">



<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="fluffer-container">
    The fluffer life involves:
    <ul>
        <li>
            Making dicks hard
        </li>
        <li>
            Keeping dicks hard
        </li>
        <li>
            Partying hard
        </li>
    </ul>
    <img src="https://i.imgur.com/QrXFdnp.jpg" class="img-responsive">
</div>
