@{
    ViewData["Title"] = "Home Page";
}

<h1>Hvordan startede det hele?</h1>
<div class="container info">
    <div class="row">

        <div class="col-md-5">
            Det hele startede en kold januar morgen, da Lasse blev træt af at være fattig. Han tænkte "Hvad gør alle andre?", og pludselig
            var endnu en fluffer bragt til verdenen. Lasse startede med freelance arbejde på små produktioner i Silkeborg og Tønder,
            men steg hurtigt i ordenen, og pludselig var han fanget midt i det glamourøse flufferliv i Frederikshavn. Siden da har karrieren taget fart
            , og Lasse betjener idag op imod 500 mænd dagligt.
        </div>
        <div class="col-md-3"><img src="https://i.imgur.com/N7E6uZb.jpg" id="frontpage-image" class="img-circle"></div>

    </div>
 </div>